* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: inline-flex;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 50px;
}

body {
  font-family: "Andika", sans-serif;
  color: #000;
  border-bottom: 10px solid #0984e3;
}

.container {
  width: 500px;
  margin: 0 auto;
}

header,
section {
  margin-bottom: 50px;
}

img {
  width: 100%;
  border-radius: 16px;
}
